<div id="<%= dom_id message %>"
     class="message d-flex flex-column align-items-end mx-3"
     data-message-user-id="<%= message.user.id %>"
     style="max-width: 75%; min-width: 60px;">
  <div class="message-content d-flex align-items-end gap-2">
    <span class="message-text text-break" style="word-break:break-word; white-space:pre-line;"> <%= message.content %> </span>
    <span class="message-time small text-muted align-self-end" style="min-width: 38px; text-align: right;"> <%= message.created_at.strftime('%H:%M') %> </span>
  </div>
</div>